#=========================================================================
# .gitignore for CheckCamelMate
#=========================================================================

_build/
_coverage/
bogue/