#=========================================================================
# .gitignore for CheckCamelMate
#=========================================================================

.DS_Store
_build/
_coverage/
bogue/
game.*